::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-button {
  height: 0;
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
