html,
body,
#root {
  height: auto;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background-color: rgba(240, 242, 245, 1);
}

.container {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1240px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1900px) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 2500px) {
  .container {
    max-width: 1600px;
  }
}
