@import "../../themes/common.less";

.wrapper {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
